<!DOCTYPE html>
<html lang="en">
<center><head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/style.css">
	<title>Microblogger</title>
	<link href='http://fonts.googleapis.com/css?family=Crafty+Girls|Alex+Brush|Calligraffitti|Lobster|Gloria+Hallelujah|Abel|La+Belle+Aurore|Architects+Daughter|Oswald' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="style.css" type="text/css"
</head>
	<div style="padding-top: 50px; font-family: 'Crafty Girls', cursive; font-size: 2em;">
		<a href="/authors">View the Authors</a> | <a href="/microposts">View the Microposts</a> |  <a href="/tags">Tags</a> | <a href="/tags/search">Search by Tags</a> | <a href="/"> Home </a>
	</div>
</div>
		<%= yield %>
</center>
</body>
</html>

