<!DOCTYPE html>
<html lang="en">
<center><head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/style.css">
	<title>Microblogger</title>
	<link href='http://fonts.googleapis.com/css?family=Crafty+Girls|Alex+Brush|Calligraffitti|Lobster|Gloria+Hallelujah|Abel|La+Belle+Aurore|Architects+Daughter|Oswald' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="style.css" type="text/css"
</head>
	<div style="padding-top: 29px; font-family: 'Calligraffitti', cursive; font-size: 2em;">
<hr>
  Welcome to Motivational Blogs!
  Your one stop source for hope, inspiration, and joy!
</div></p></center><h1>
<hr>

<html> 

