<br /><br />

<form method='post' action='/tags/search'>
  Search Tags: 
  <input type='text' name='term' value='<%= params[:term] %>' />
  <input type='submit' value='Search' />
</form>

<p>
  <% if @microposts %>
    <% if @microposts.count == 0 %>
      <h4>No results found</h4>
    <% else %>
      <% @microposts.each do |micropost| %>
        <h1><%= micropost.author.name %> | <%= micropost.title %></h1>
        <a href='/microposts/<%= micropost.id %>'>View the blog</a>
      <% end %>
    <% end %>
  <% end %>
</p>