
<br>
<hr>
<form action="/authors" method="POST">
	<label for="name">Your name:<br>
		<input type="text" name="author[name]"><br>
	</label>
	<label for="photo_url">Your Photo Url:<br>
		<input type="text" name="author[photo_url]"><br>
	</label>
	<label for="date_joined">Enter Today's Date:<br>
		<input type="text" name="author[date_joined]"><br>
	<label for="age">What is your age?<br>
		<input type="text" name="author[age]"><br>
	<label for="age">Pick a username<br>
		<input type="text" name="author[username]"><br>
	</label>
	<input type="submit" value="Submit">
</form>
<hr>
<br>